@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.card-header{
    
    background: linear-gradient(#fbb451, #ff9595);
    color: rgb(5, 6, 2);
}

.card-body{
    background: linear-gradient(#ffcd88, #e48080);
}

.card-text, .card-title{
    color: rgb(0, 0, 0);
}

.card h1{
    font-weight: bolder;
}

.card-title{
    font-weight: bolder;
}

.heading-text{
    color: black;
}

#output{
    color: black;
}

.option{
    color: #a80000;
}